<%- include ('partials/header'); -%>

<link rel="stylesheet" href="app.css">

<h1>This is the home page</h1>

<img src="https://i.pinimg.com/originals/39/b2/3f/39b23f32df66d96ea7f64fd7b444fdbc.jpg">

<%- include ('partials/footer'); -%>
