<%- include ('../partials/header'); -%>

<div class="container">
    <div class="row row-cols-1">
        <h1 style="text-align: center">Add New Comment to <%= campground.name %></h1>

        <div style="width: 30%; padding: 0px 35%; margin: 30px 0">
            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="text">
                </div>

                <button class="btn btn-large btn-primary btn-block">Submit</button>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>

    </div>
</div>


<%- include ('../partials/footer'); -%>
