.img-thumbnail img {
    width: 100%;
}

.img-thumbnail {
    padding: 0;
}

.img-thumbnail .caption {
    padding: 20px;
}

.card {
    margin-top: 20px;
}

.delete-form {
    display: inline;
}

nav {
    margin-bottom: 1rem;
}
